<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Version = "2.0.1" ?>
<?define ProductName = "BingBackground" ?>
<?define Manufacturer = "5HP Digital" ?>
<?define UpgradeCode = "68760E2D-DA69-40C2-B434-2E28A8CFEC0A" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Id="Digital5HP.BingBackground.Installer"
             Name="$(var.ProductName)"
             Manufacturer="$(var.Manufacturer)"
             Version="$(var.Version)"
             UpgradeCode="$(var.UpgradeCode)"
             Compressed="true">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
                <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)"/>
            </Directory>
        </StandardDirectory>

        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="ServiceExecutable" Bitness="always64">
                <File Id="BingBackground.exe"
                      Source="$(var.DeployPath)\BingBackground.exe"
                      KeyPath="true" />

                <RemoveFile Id="ALLFILES" Name="*.*" On="both" />

                <ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Name="BingBackground.Service"
                                DisplayName="$(var.ProductName) Service"
                                Description="Updates your wallpaper periodically to Bing daily photo."
                                Start="auto"
                                ErrorControl="normal"
                                Account="LocalSystem"
                                Vital="true" />

                <ServiceControl Id="StartService"
                                Start="install"
                                Stop="both"
                                Remove="uninstall"
                                Name="BingBackground.Service"
                                Wait="true" />
            </Component>
        </DirectoryRef>
        
        <Feature Id="Service" Title="$(var.ProductName) Setup" Level="1">
            <ComponentRef Id="ServiceExecutable" />
        </Feature>

        <MediaTemplate EmbedCab="yes" />
    </Package>
</Wix>
